<div class="flex flex-col w-full   text-white">
    <!-- espaço para rolar -->
  
    <div
      class="h-screen w-full flex flex-col items-center justify-start text-center transition-transform duration-200 ease-out"
      [ngStyle]="{ transform: 'translateY(' + translateY + 'vh)' }"
    >
      <h1 class="  mb-5 mt-6 md:mb-10 md:mt-5  text-xl md:text-5xl font-primary text-(--bg-primary)">
        {{ 'ap-titulo' | translate }}
      </h1>
      <h2 class="mb-3 text-sm md:text-2xl font-secundary text-gray-600">
        {{ 'ap-texto1' | translate }}
      </h2>
      <h3 class="text-xs mb-10 md:text-xl font-secundary text-gray-400 max-w-xl">
        {{ 'ap-texto2' | translate }}
      </h3>
    </div>
  </div>
  