// Cores principais
$color-bg-body: #FFFFFF;
$color-bg-body-end: #282c34;
$color-bg-primary: #C8447E;
$color-bg-degrade: linear-gradient(135deg, $color-bg-body, $color-bg-body-end);

// Texto
$color-text-main: #ffffff;
$color-text-secondary: #ccc;